{% extends 'base.html.twig' %}

{% block title %}- Player{% endblock %}

{% block body %}
<div class="title">
    <h1>{{ player.name }}</h1>
    <h2>{{ player.role.name }} - {{ player.class }} - {{ player.rank }}</h1>
</div>
<div class="container">

    <div class="left-container">
        <table>
            <thead>
                <tr>
                    <th colspan="1">Date</th>
                    <th colspan="1">Raid</th>
                    <th colspan="1">Item Bis</th>
                    <th colspan="1">Item contested</th>
                </tr>
            </thead>
            <tbody>
                {# pour chaque évènement auquel le joueur a participé je veux la date de l'évènmenent, le(s) raid(s) où l'event s'est déroulé, le nom des items bis reçus, le nom des items contested reçus #}

                {# pour chaque event du player, event date + event raids + item event player de type bis + item event player de type contested #}
                {% for event in player.events %}
                <tr>
                    <td>{{ event.date ? event.date|date('d M Y - H:i') : ''  }}</td>
                    <td>
                        {% for raid in event.raid %}
                        {{ raid.name }}</br>
                        {% endfor %}
                    </td>
                    <td>nom_item_bis</td>
                    <td>nom_item_contested</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="right-container">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de présences
                <span class="badge bg-dark rounded-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre de benchs
                <span class="badge bg-dark rounded-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre d'items Bis
                <span class="badge bg-dark rounded-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre d'items Contested
                <span class="badge bg-dark rounded-pill">0</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Score
                <span class="badge bg-dark rounded-pill">0</span>
            </li>
        </ul>
    </div>
</div>
<div class="bottom-button d-flex flex-wrap justify-content-evenly">
    <a class="bottom-button-update" href="{{ path('app_player_update', {'id': player.id}) }}">Modifier</a>
    <a class="bottom-button-back" href="{{ path('app_player_list') }}">Retour</a>
    {# {{ include('event/_delete_form.html.twig') }} #}
</div>
{% endblock %}